<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='model.entidad.dao.mapper.CategoriaMapper'>

	<select resultType="Categoria" id="CategoriaPorId">
		SELECT * FROM CATEGORIA
		WHERE ID = #{id}
	</select>

	<select id="busquedaCategorias" resultType="Categoria">
		SELECT * FROM CATEGORIA
	</select>

</mapper>