<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='model.entidad.dao.mapper.DiaMapper'>

	<select resultType="Dia" id="DiaPorId">
		SELECT * FROM DIA
		WHERE ID = #{id}
	</select>

	<select resultType="Dia" id="horarioUsuario">

		SELECT * FROM DIA WHERE USUARIO=
		#{usuario} AND MONTH(FECHA) = #{mes} AND
		year(FECHA) = #{anyo}


	</select>

	<select resultType="Dia" id="horarioRestaurante">

		SELECT DIA.* FROM DIA, USUARIO WHERE
		MONTH(FECHA) = #{mes} AND
		year(FECHA) = #{anyo} AND USUARIO.ID =
		DIA.USUARIO AND USUARIO.RESTAURANTE = #{restaurante}


	</select>

	<select resultType="Dia" id="horarioUsuarioFecha">

		SELECT * FROM DIA WHERE MONTH(FECHA)
		= #{mes} AND YEAR(FECHA) = #{anyo} AND
		USUARIO = #{usuario}

	</select>

	<insert id="insertaDia" parameterType="Dia"
		useGeneratedKeys="true" keyProperty="ID">

		INSERT INTO DIA (FECHA, ENTRADA_1,
		SALIDA_1, ENTRADA_2, SALIDA_2, USUARIO, IDHORARIO)
		VALUES(#{fecha},
		#{entrada1}, #{salida1}, #{entrada2},#{salida2},
		#{usuario},
		#{idHorario})

	</insert>

	<select id="existeDia" resultType="int">
		SELECT * FROM DIA WHERE
		USUARIO = #{usuario} AND FECHA = #{fecha};
	</select>

	<update id="editaDia">
		UPDATE DIA SET ENTRADA_1 = #{entrada_1}, SALIDA_1 =
		#{salida_1},
		ENTRADA_2 = #{entrada_2}, SALIDA_2 = #{salida_2}
		WHERE
		USUARIO = #{idUsuario} AND FECHA = #{fecha}
	</update>
</mapper>