<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='model.entidad.dao.mapper.HorarioMapper'>

	<select resultType="Horario" id="horarioPorId">
		SELECT * FROM HORARIO
		WHERE ID =
		#{id}
	</select>
	<select id="getHorarios" resultType="Horario">
	SELECT * FROM HORARIO ORDER BY HORARIO.ANYO DESC, HORARIO.MES DESC
	</select>
	
	<select id="horariosPorRestaurante" resultType="Horario">
		SELECT DISTINCT
		HORARIO.* FROM HORARIO, DIA, USUARIO
		WHERE DIA.IDHORARIO = HORARIO.ID
		AND USUARIO.ID = DIA.USUARIO
		AND USUARIO.restaurante = #{restaurante} ORDER BY HORARIO.ANYO DESC, HORARIO.MES DESC 

	</select>
	
		<select id="horariosPorRestauranteActivo" resultType="Horario">
		SELECT DISTINCT
		HORARIO.* FROM HORARIO, DIA, USUARIO
		WHERE DIA.IDHORARIO = HORARIO.ID
		AND USUARIO.ID = DIA.USUARIO
		AND USUARIO.restaurante = #{restaurante} AND HORARIO.ACTIVO = 1 ORDER BY HORARIO.ANYO DESC, HORARIO.MES DESC 

	</select>

	<insert id="creaHorarioGeneral" parameterType="Horario"
		useGeneratedKeys="true" keyProperty="ID">
		INSERT INTO HORARIO(ACTIVO, MES,
		ANYO) VALUES(#{activo},#{mes},#{anyo})
	</insert>
	
	<select id="horarioIdPorMesAnyo" resultType="Horario">
	
	SELECT * FROM HORARIO WHERE MES = #{mes} AND ANYO = #{anyo}
	</select>
	
	<update id="activaHorario" parameterType='Horario'>
	
	UPDATE HORARIO SET ACTIVO = 1 WHERE HORARIO.ID = #{horario}
	
	</update>
	
		<update id="desactivaHorario" parameterType='Horario'>
	
	UPDATE HORARIO SET ACTIVO = 0 WHERE HORARIO.ID = #{horario}
	
	</update>

</mapper>