<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<properties resource='jdbc.properties' />
	<typeAliases>
		<typeAlias type="model.entidad.Rol" alias='Rol' />
		<typeAlias type="model.entidad.Localizacion"
			alias='Localizacion' />
		<typeAlias type="model.entidad.Usuario" alias='Usuario' />
		<typeAlias type="model.entidad.Restaurante"
			alias='Restaurante' />
		<typeAlias type="model.entidad.Dia" alias='Dia' />
		<typeAlias type="model.entidad.Categoria" alias='Categoria' />
		<typeAlias type="model.entidad.Alimento" alias='Alimento' />
		<typeAlias type="model.entidad.Timer" alias="Timer" />
		<typeAlias type="model.entidad.Horario" alias="Horario" />
		<typeAlias type="model.entidad.Factura" alias="Factura" />
		<typeAlias type="model.entidad.HoraVenta" alias="HoraVenta" />


	</typeAliases>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="model/entidad/dao/mapper/RolMapper.xml" />
		<mapper resource="model/entidad/dao/mapper/CategoriaMapper.xml" />
		<mapper resource="model/entidad/dao/mapper/AlimentoMapper.xml" />
		<mapper
			resource="model/entidad/dao/mapper/LocalizacionMapper.xml" />
		<mapper resource="model/entidad/dao/mapper/UsuarioMapper.xml" />
		<mapper
			resource="model/entidad/dao/mapper/RestauranteMapper.xml" />
		<mapper resource="model/entidad/dao/mapper/DiaMapper.xml" />
		<mapper resource="model/entidad/dao/mapper/TimerMapper.xml" />
		<mapper resource="model/entidad/dao/mapper/HorarioMapper.xml" />
		<mapper resource="model/entidad/dao/mapper/FacturaMapper.xml" />
		<mapper resource="model/entidad/dao/mapper/HoraVenta.xml" />
	</mappers>
</configuration>